<style>
  .container {
    display: flex;
    justify-content: space-between; /* Adjust the spacing between images */
  }

  .col {
    width: 225px;
    height: 225px;
    margin-right: 10px; /* Adjust the spacing between images */
  }

  .col:last-child {
    margin-right: 0; /* Remove margin for the last image */
  }

  .col img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain the aspect ratio and cover the entire space */
  }
</style>

<div class="container">
  
  <div class="col"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzB8Sr2FS91L4d_4qYcY1_0lrAAmnMvPcxXnX2Fki6-nqOF3doCfOxCZMg1dE9xCRW8O4&usqp=CAU" alt=""></div>
  <div class="col"><img src="https://images.idgesg.net/images/article/2019/05/java_binary_code_gears_programming_coding_development_by_bluebay2014_gettyimages-1040871468_2400x1600-100795798-large.jpg?auto=webp&quality=85,70" alt=""></div>
  <div class="col"><img src="https://img-c.udemycdn.com/course/750x422/919038_3ae1_11.jpg" alt=""></div>
</div>

